// Body
$body-bg: #f5faff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #283945;
$brand-info: #0B6E8B;
$brand-success: #0EB8C2;
$brand-warning: #dfc10e;
$brand-danger: #dc2c10;

// Typography
$font-family-sans-serif: 'Rajdhani', sans-serif;
$font-family-monospace: 'Space Mono', monospace;
$font-size-base: 16px;
$line-height-base: 1.8;
$text-color: #2b2f30;
$link-color: #1a6bae;

// Navbar
$navbar-default-bg: $brand-primary;
$navbar-default-brand-color: #22d1c0;
$navbar-default-link-color: #dde5f1;
$navbar-default-link-hover-color: #bee3ff;
$navbar-default-link-active-color: #d4fff0;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
